:root {
    --cpadrao: rgb(36, 228, 94);
    --ccontainer: rgb(50, 100, 200);
    --cpub: rgba(0, 0, 0, 0.829);
    --ccont: white;
    --fpadrao: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body, button, input, select, textarea {
    font-family: var(--fpadrao);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cpadrao);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    max-width: 800px;
    height: 95vh;
    background: var(--ccontainer);
    display: grid;
    grid-template-columns: 150px auto auto 150px;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
    "header nav nav nav"
    "aside-1 main main aside-2"
    "footer footer footer footer"
    ;
    border-radius: 15px;
    box-shadow: 1px 2px 1px 1px rgba(109, 109, 109, 0.267);
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.aside-1 {
    grid-area: aside-1;
    background: var(--cpub);
    min-height: 400px;
}

.main {
    width: 500px;
    min-height: 400px;
    grid-area: main;
    background: var(--ccont);
}
.aside-2 {
    grid-area: aside-2;
    background: var(--cpub);
    min-height: 400px;
}

.footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
}
